<footer class="footer">
    <nav class="menu1">
      <ul class="menu1__ul">
        <li class="menu1__ul--li">
          <a class="footer__link" href="https://adalab.es/" target="_blank">Zapatillas</a>
        </li>
        <li class="menu1__ul--li">
          <a class="footer__link" href="https://adalab.es/" target="_blank">Ropa</a>
        </li>
        <li class="menu1__ul--li">
          <a class="footer__link" href="https://adalab.es/" target="_blank">Niño/niña</a>
        </li>
        <li class="menu1__ul--li">
          <a class="footer__link" href="https://adalab.es/" target="_blank">Destacados</a>
        </li>
        <li class="menu1__ul--li">
          <a class="footer__link" href="https://adalab.es/" target="_blank">Tips</a>
        </li>
      </ul>
    </nav>
    <nav class="menu2">
      <ul class="menu2__ul">
        <li class="menu2__ul--li">
          <a class="footer__link" href="https://adalab.es/" target="_blank">Twitter</a>
        </li>
        <li class="menu2__ul--li">
          <a class="footer__link" href="https://adalab.es/" target="_blank">Instagram</a>
        </li>
        <li class="menu2__ul--li">
          <a class="footer__link" href="https://adalab.es/" target="_blank">Youtube</a>
        </li>
      </ul>
    </nav>
    <div class="footer__div2">
      <p class="footer__div2--copy">&copy;2023</p>
      <p class="footer__div2--motto">we <i class="fa-solid fa-heart heart"></i> run</p>
    </div>
  </footer>