@import 'core/reset';
@import 'core/variables';


.header{
    width: 3.64rem;
    height: 3.68rem;
    background-color: $decor-color;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;


    @media all and (min-width: 1280px){
        display:none;
    }
}

    


.section__hero{
    background-image: url(../images/cover.jpeg);
    background-position: 86%;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: $hero-text-color;
    background-size: cover;
    gap: 1.5rem;
    position: relative;

   @media all and (min-width: 768px){
        background-position: 62%;

    }
    
    &--h1{
        font-family: $second-font;
        font-weight: 700; 
        text-transform: uppercase;
        font-size: 3rem;
        line-height: 5rem;  

        @media all and (min-width: 768px){
            font-size: 7.5rem;
            line-height: 10rem;
        }
    }

    &--p{
        font-family: $font-main;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.9rem;
        margin-left: 3.42rem;
        margin-right: 4.25rem;

        @media all and (min-width: 768px){
            font-size: 2.4rem;
            line-height: 2.8rem;
            width: 32rem;
            }
        }
    
    
    &--divimg{
        background-color: $hero-text-color;
        width: 3.82rem;
        height: 3.82rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 6.12rem;

        @media all and (min-width: 768px){
            width: 4.5rem;
            height: 4.5rem;
            }

            .a-hero{
                display:flex;
                justify-content: center;
                align-items: center;
            }

                .scroll-down{
                    vertical-align: center;
                    padding: 0.8rem;
                    @media all and (min-width: 768px){
                        transform: scale(1.2);
                        }    
                }
    }
}
.section__store{
    background-color: $hero-text-color;
    margin-left: 1.3rem;
    margin-right: 1.7rem;
    margin-top: 3rem;

    @media all and(min-width:768px){
        padding-left: 3.71rem;
        padding-right: 3.91rem;
        margin-bottom: 4.14rem;
        margin-top: 3.73rem;
    }

    @media all and(min-width:1280px){
        padding-left: 17rem;
        padding-right: 16.8rem;
        margin-bottom: 3.9rem;
        margin-top: 3.9rem;
    }

    &--h3{
        font-family: $font-main;
        font-weight: 400;
        color: $decor-color;
        text-transform: uppercase;
        font-size: 1.4rem;
        line-height: 3rem;

        @media all and (min-width: 768px){
            font-size: 1.6rem;
        }
    }

    &--h2{
        font-family: $second-font;
        font-weight: 700;
        color: $title-color;
        text-transform: uppercase;
        font-size: 2.2rem;
        line-height: 3rem;

        @media all and (min-width: 768px){
            font-size: 3.2rem;
            line-height: 4.5rem;
        }
    }

    &--p{
        font-family: $font-main;
        font-weight: 400;
        color: $text-color;
        font-size: 1.8rem;
        margin-top: 1rem;
        line-height: 3rem;

        @media all and (min-width: 768px){
            font-size: 2rem;
        }
    }

    &--butom{
        font-family: $font-main;
        font-weight: 500;
        font-size: 2rem;
        line-height: 4.5rem;
        text-align: center;
        background-color: $hero-text-color;
        color: $decor-color;
        border: 2px solid $decor-color;
        border-radius: 22.5px;
        width: 16rem;
        height: 4.5rem;
        margin-top: 5.2rem;
        margin-bottom: 2.8rem;

        @media all and (min-width: 768px){
            margin-top: 2.12rem;
            margin-bottom: 6.14rem;
        }
    }
}

.section__school{
    background-color: $bg-color;
    font-family: $second-font;
    font-weight: 700;
    padding-top: 1.8rem;
    padding-left: 1.2rem;
    padding-right: 1.1rem;
    text-align: center;
    line-height: 3rem;

    @media all and (min-width:768px){
    
    }

    &--h3{
        font-size: 1.2rem;
        color: #626262;
    }
    
    &--h2{
        font-size: 2rem;
        text-transform: uppercase;
        padding-bottom: 1.14rem;
        
        @media all and (min-width:768px){
            font-size: 2.8rem;
            padding-bottom: 2.2rem;
        }
    }
    
    .div__article{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 0.5rem;
        
        @media all and (min-width:768px){
            grid-template-columns: 1fr 1fr 1fr;
        }

        &--img{
            width: 11.4rem;
            height: 12.4rem;
            border-radius: 50%;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            transform: translateY(7.5%);  
        }
      
        &--p{
            font-size: 1.4rem;
            padding-top: -1rem;

            @media all and (min-width:768px){
                font-size: 1.8rem;
            }

        }

        &--buton2{
            color: $hero-text-color;
            font-family: $font-main;
            font-size: 2rem;
            font-weight: 500;
            width: 18.4rem;
            background-color: $decor-color;
            border-radius: 22.5px;
            align-items: center;
            padding-top: 1rem;
            padding-bottom: 1rem;
            margin-bottom: 3.07rem;

            @media all and (min-width:768px){
                grid-column-start: 2;
                margin-top: 1.75rem;
                margin-bottom: 5rem;
            }
        }
    }
}     
    
.footer{
    background-color: $text-color;
    font-family: $font-main;
    font-weight: 400;
    font-size: 1.6rem;
    color: $hero-text-color;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3rem;
    gap: 1.5rem;
    text-align: center;
    padding-top: 4.5rem;;

    &__div{
        background-color: $hero-text-color;
        width: 4.5rem;
        border-radius: 50%;
        transform: translateY(-150%);
        display: flex;
        justify-content: center;
        position: absolute;
    }
    
    &__icon{
        padding: 0.4rem;
        transform: translateY(17%);
    }
    
    &__nav{
    
        &--ul-li{
            list-style: none;
        
            .footer__link{
                text-decoration: none;
                color: $hero-text-color;
            }
        }
    }

    &__div2{
        font-size: 1.4rem;
        text-transform: lowercase;
        margin-bottom: 3.35rem;

        .heart{
            font-size: 1.2rem;
            color: $decor-color;
            transform: translateY(-20%);
            padding-left: 0.2rem;
            padding-right: 0.2rem;
        }
    }
    
}
